@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

html,
body {
    /* height: 200vh; */
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /*letter-spacing: 0.1em;*/
}

.background {
    background-color: #FD76D5;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
}

.background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

.instrukce,
.oalbu {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 35vh auto 0;
}

.oalbu {
    padding-bottom: 10vh;
}

.col {
    margin: 0 1vw;
    width: 50%;
    resize: both;
}

.oalbu .col {
    width: 75%;
}

.cz {
    text-align: right;
}

.col-wrapper {
    padding: 1rem;
}

@media all and (max-width: 800px) {
    .instrukce,
    .oalbu {
        display: block;
    }
    .col {
        margin: 0;
        width: 100%;
    }
    .oalbu .col {
        width: 100%;
    }
    .cz {
        text-align: left;
    }
}